<div id= "page-content"> <!--for the background color-->
  <h1 class="text-center mt-4">Create a new article</h1>

<!--Check first if there any error when trying to save the article-->
<!--Code for validation error-->
    <%= render 'form' %>
</div>