<h1>Create new articles</h1>

<!--Check first if there any error when trying to save the article-->
<!--Code for validation error-->
<%= render 'form' %>

<%= link_to 'Return to listing page', articles_path %>
    