
<div class="container" id="about-container">
    <div class="jumbotron text-center text-dark">
        <h1 class="display-4">About us!</h1>
        <p class="lead">Un concept original du proprietaire de ce site</p>
        <hr class="my-4">
        <p>Le site a pour but de promouvoir des articles dans le domaine des NTIC, 
        tout en permettant à chacun de collaborer en rédigeant des articles pouvant être utiles 
        à la communauté des nouvelles technologies de l'information et des télécommunications.
        </p>
        <p class="lead">
          <%= link_to 'Return to Home page', root_path %>  
        </p>
    </div>
</div>