<div class="container" id="home-container">
    <div class="jumbotron text-center text-dark">
      <h1 class="display-4">NTIC BLOG</h1>
      <p class="lead">Le concept «Nouvelles technologies de l’information et de la communication» (NTIC), est souvent utilisé et compris comme synonyme d’Internet avec tout ce que cela suppose:</p>
      <hr class="my-4">
      <p>L’utilisation d’ordinateurs et de divers réseaux de télécommunications permettant de relier les utilisateurs entre eux, et de les relier à l’information.</p>
      <p class="lead">
        <!--<a class="btn btn-success" href="#" role="button">Sign Up!</a>-->
        <%= link_to "Sign up", signup_path, class: "btn btn-succes btn-lg" %>
      </p>
    </div>
</div>
